{{ $section := .section }}
{{ $projects := .section.projects }}
<section id="projects" class="section section-projects">
  <div class="container">
    <h2 class="section-title">{{ $section.name | default "Progetti" }}</h2>
    <div class="row">
      {{ range $projects }}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          {{ with .image }}<img src="/{{ . }}" class="card-img-top" alt="Anteprima progetto">{{ else }}<div class="card-img-top bg-light" style="height:180px;"></div>{{ end }}
          <div class="card-body">
            <h5 class="card-title">{{ .name }}</h5>
            <p class="card-text">
              {{ with .summary }}
                {{ . }}
              {{ else }}
                Nessun riassunto disponibile
              {{ end }}
            </p>
            {{ if .url }}<a href="{{ .url }}" class="btn btn-primary btn-sm" target="_blank">Dettagli</a>{{ end }}
            {{ if .buttons }}
              {{ range .buttons }}
                <a href="{{ .url }}" class="btn btn-outline-secondary btn-sm ms-1" target="_blank"><i class="{{ .icon }}"></i> {{ .name }}</a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section> 